@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Quattrocento+Sans&display=swap');

$primary-color: yellow;
$secondary-color: purple;
$tertiary-color: blue;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quattrocento Sans', sans-serif;
  // border: 1px solid red;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #6441a5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a0845,
    #6441a5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Header
header {
  display: flex;
  justify-content: space-around;
  min-height: 20%;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $primary-color;
  border: 1px solid red;
}

// Input
.input-section {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  min-height: 30%;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid orange;
  background-color: cornsilk;
  border-radius: 2rem;
}

.input-field {
  padding: 1rem;
  width: 100%;
  min-height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.city-entered,
.date {
  margin: 1rem;
}

input {
  height: 2rem;
  width: 10rem;
}

// Article
article {
  // position: relative;
  min-height: 50vh;
  max-width: 50%;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightsteelblue;
  border: 2px solid $primary-color;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
}

.forecast-date,
.country-info {
  padding: 1rem;
  border-bottom: 3px solid $tertiary-color;
  min-height: 10%;
}

.info-list {
  padding: 1rem;
  margin: 1rem;
}

.info-list li {
  padding: 0.5rem;
}

img {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  max-height: 40%;
}

// Button
button {
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: $primary-color;
  border-radius: 900px;
  transition: transform 0.05s ease-in;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 3);
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: black;
    color: $primary-color;
    border: 1px solid yellow;
  }

  &:focus {
    outline: 0;
  }
}

.fas {
  padding: 0.5rem;
}

// error
.fa-exclamation-triangle,
.fa-exclamation {
  padding: 0.5rem;
}

.error {
  margin: 2rem;
  color: black;
  background-color: $primary-color;
  padding: 2rem;
  border: 4px dashed red;
}

.hide {
  z-index: -100;
  display: none;
}

// footer
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-height: 20vh;
  margin-top: 2rem;
  background-color: $primary-color;
}

.footer-title {
  min-width: 50%;
  padding: 1rem;
}

.social-list {
  display: flex;
  justify-content: space-around;
  max-width: 30%;
  padding: 1rem;
}

.social-icon {
  list-style: none;
  padding: 1rem;
}

.fab {
  transition: transform 0.05s ease-in;
  color: black;
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #6441a5; /* fallback for old browsers */
    color: -webkit-linear-gradient(
      to right,
      #2a0845,
      #6441a5
    ); /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(
      to right,
      #2a0845,
      #6441a5
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* media queries */
@media (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .input-section {
    width: 90%;
  }

  .input-field {
    display: flex;
    flex-direction: column;
  }

  article {
    max-width: 90%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
